.normal-content table
{
    border-collapse:collapse;
    font-size: 90%;
    /*width: 100%;*/
}
.normal-content table.w100p
{
    width: 100%;
}
.normal-content td, .normal-content th
{
    font-size:1em;
    border:1px solid #0068b5;
    padding:3px 7px 2px 7px;
}
.normal-content td.nopadding
{
    padding:0px;
}
.normal-content th
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#0068b5;
    color:#ffffff;
    white-space: nowrap;
}
.normal-content tr.alt td
{
    color:#000000;
    background-color:#dcebf6;
}

.normal-content tr td.date {
    background-color:#0068b5;
    color:#ffffff;
    white-space: nowrap;
}

.normal-content tr td.not-done {
    background-color:#ee1111;
    color:#000;
}
.normal-content tr td a:link,
.normal-content tr td a:active,
.normal-content tr td a:visited{
    color:#002764;
	text-decoration:underline;
}


.normal-content tr td.done a:link,
.normal-content tr td.done a:active,
.normal-content tr td.done a:visited,
.normal-content tr td.not-done a:link,
.normal-content tr td.not-done a:active,
.normal-content tr td.not-done a:visited{
    color:#fff;
}

.normal-content tr td.done {
    background-color:#00a300;
    color:#000;
}

.normal-content tr td.done a:link,
.normal-content tr td.done a:active,
.normal-content tr td.done a:visited {
    color:#fff;
}

.normal-content table.index-table
{
    width:100%;
}
.normal-content table.index-table th
{
    border: none;
    white-space: nowrap;
}
.normal-content table.index-table td
{
    border: none;
    white-space: none; /* maybe change to nowrap */
}
.normal-content table.index-table h3
{
	font-size: 100%;
	font-weight: normal;
    display:inline;
}
.normal-content table.index-table tr
{
    border-bottom: 1px solid #dddddd;
}
.normal-content table.index-table .balance-column
{
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
	white-space: nowrap;
}
.normal-content table.index-table th
{
    background-color:transparent;
    color:#444444;
    font-size: 130%;
}
.normal-content table.index-table a:link, .normal-content table.index-table tr td a:active, .normal-content table.index-table tr td a:visited {
    color: #002764;
    text-decoration: none;
}

.onepx{
    width:1px;
}

.datacelltwo{
    background-color:#dcebf6;
}
.double-scroll
{
    clear:both;
}

table.noborder, table.noborder tr, table.noborder td {
    border: none !important;

}