form {
    clear:both;
}
form span {
    margin: 0px 15px 10px 0px;
    float:left;
}
form span.clear {
    clear:both;
}

form span label {
    margin: 0;
    padding-top: 3px;
    clear: both;
    display: block;
}

form span span {
    font-weight: bold;
    margin: 0;
    float:none;
}

form span.req {
    float:none;
    clear:none;
}

form span label.choice
{
    clear: none;
    float:left;
}

form span input {
    border:2px solid #aaaca6;
    padding:5px 5px 5px 5px;
}
form span select {
    border:2px solid #aaaca6;
    padding:4px 5px 4px 5px;
    width: 214px;
}
.dinner-cost select {
    width: 100px;
}

form span input[type=checkbox] {
    border:none;
    margin:7px 10px 5px 5px;
    width: auto;
    float:left;
}

form span input[type=submit] {
    background-color: #006bbb;
    color:#fff;
    border:none;
    min-width: 100px;
    height: 35px;
}

input[type=button] {
    background-color: #aaa;
    color:#fff;
    border:none;
    min-width: 100px;
    height: 35px;
}

input[type=button].cancel_btn {
    margin-left: 5px;
}
form span input[type=text],form span input[type=password]
{
    width: 200px;
}
form span input[type=email]
{
    width: 220px;
}
form span input[type=email].s200
{
    width: 200px;
}
form span input[type=text].amount
{
    width: 85px;
}
form span input[type=text].description-dinner-cost
{
    width: 175px;
}
form span input[type=text].s140
{
    width: 140px;
}
.stickynote form span input[type=text]
{
    width: 186px;
}
.stickynote form span textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:2px solid #aaaca6;
    padding:5px 5px 5px 5px;
    width: 200px;
}
.stickynote form span input[type=submit] {
     width: 200px;
 }
#add-stickynote form span input[type="submit"] {
    background-color: #ffffff;
    color:#006BBB;
}
form span.right-bottom {
    position: absolute;
    right:0;
    bottom:0;
}

#feedback-form
{
    color:#000 !important;
}
#feedback-form input[type=submit] {
    background-color: #006bbb !important;
    color:#fff !important;
}
select.numbers {
    width: 60px;
    float:left;
}

.secundaire-btn
{
    background-color: #ef8a00 !important;
    color:#fff !important;
    border:none !important;
    min-width: 100px !important;
    height: 35px !important;
}