.content table
{
    border-collapse:collapse;
    font-size: 90%;
    /*width: 100%;*/
}
.content table.w100p
{
    width: 100%;
}
.content td, .content th
{
    font-size:1em;
    border:1px solid #0068b5;
    padding:3px 7px 2px 7px;
}
.content td.nopadding
{
    padding:0px;
}
.content th
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#0068b5;
    color:#ffffff;
    white-space: nowrap;
}
.content tr.alt td
{
    color:#000000;
    background-color:#dcebf6;
}

.content tr td.date {
    background-color:#0068b5;
    color:#ffffff;
    white-space: nowrap;
}

.content tr td.not-done {
    background-color:#ee1111;
    color:#000;
}
.content tr td a:link,
.content tr td a:active,
.content tr td a:visited{
    color:#002764;
}


.content tr td.done a:link,
.content tr td.done a:active,
.content tr td.done a:visited,
.content tr td.not-done a:link,
.content tr td.not-done a:active,
.content tr td.not-done a:visited{
    color:#fff;
}

.content tr td.done {
    background-color:#00a300;
    color:#000;
}

.content tr td.done a:link,
.content tr td.done a:active,
.content tr td.done a:visited {
    color:#fff;
}

.content table.index-table
{
    width:100%;
}
.content table.index-table td, .content table.index-table th
{
    border: none;
    white-space: nowrap;
}
.content table.index-table h3
{
    color: #002764;
    display:inline;
}
.content table.index-table tr
{
    border-bottom: 1px solid #dddddd;
}
.content table.index-table .balance-column
{
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.content table.index-table th
{
    background-color:transparent;
    color:#444444;
    font-size: 150%;
}
.content table.index-table a:link, .content table.index-table tr td a:active, .content table.index-table tr td a:visited {
    color: #002764;
    text-decoration: none;
}

.onepx{
    width:1px;
}

.datacelltwo{
    background-color:#dcebf6;
}
.double-scroll
{
    clear:both;
}

table.noborder, table.noborder tr, table.noborder td {
    border: none !important;

}